<h2>Template : Básicos</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" #myForm="ngForm" autocomplete="off">
      <!-- producto -->
      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            name="producto"
            ngModel
            placeholder="nombre del producto"
            required
            minlength="3"
          />
          <span *ngIf="validProduct()" class="form-text text-danger"
            >Debe ser de 3 letras</span
          >
        </div>
      </div>

      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            name="precio"
            required
            ngModel
            placeholder="precio del producto"
            min="0"
          />

          <span *ngIf="validPrice()" class="form-text text-danger"
            >El precio debe ser mayor a 0</span
          >
        </div>
      </div>

      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            name="existencias"
            ngModel
            placeholder="existencias del producto"
          />
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col">
          <button class="btn btn-primary float-end" [disabled]="!myForm.valid">
            Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>
      {{ myForm.valid }}
    </pre>
    <span>pristine</span>
    <pre>
      {{ myForm.pristine }}
    </pre>
    <span>Touched</span>
    <pre>
      {{ myForm.touched | json }}
    </pre>
    <span>value</span>
    <pre>
      {{ myForm.value | json }}
    </pre>
  </div>
</div>
