<h2>Validaciones reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="submitForm()" [formGroup]="myForm">
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Nombre "
          />
          <span *ngIf="campoNoValido('name')" class="form-text text-danger">
            Debe ser nombre y apellido
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">user</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            formControlName="user"
            placeholder=" usuario"
          />
          <span *ngIf="campoNoValido('user')" class="form-text text-danger">
            No puede ser sharp
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Correo</label>
        <div class="col-sm-10">
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Correo"
          />
          <span *ngIf="campoNoValido('email')" class="form-text text-danger">
            El correo es obligatorio
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Contraseña</label>
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            formControlName="pass"
            placeholder="Contraseña"
          />

          <span *ngIf="campoNoValido('pass')" class="form-text text-danger">
            La contra debe ser mayor de 6 chars
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Confirmar contraseña</label>
        <div class="col-sm-10">
          <input
            type="password"
            formControlName="pass2"
            class="form-control"
            placeholder="confirmar contraseña"
          />

          <span *ngIf="campoNoValido('pass2')" class="form-text text-danger">
            La contra deben ser iguales
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <button class="btn btn-secondary">Crear</button>
      </div>
    </form>
  </div>
</div>

<h3>is Validad {{ myForm.valid }}</h3>
<h3>Email</h3>
<pre>
  {{ myForm.controls.email.errors | json }}
</pre>

<h3>Errors</h3>
<pre>
  {{ myForm.errors | json }}
</pre>
